name: CI - Hola GitHub Actions

on:
  push:
    branches: [ "main" ]

jobs:
  saludo:
    runs-on: ubuntu-latest

    steps:
      - name: Mostrar mensaje
        run: echo "GitHub Actions funcionando correctamente"
